
.services ul li img{
    width:100%;
    height: 100%;
}
.services ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
   
}
.services ul li{
    width:50%;
    
}
.services ul li ul li{
    width:100%;
    margin-top: 3rem;
}
.services ul li ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    text-align: justify;
}
.services ul li ul li:first-child{
    padding-top: 4rem;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
    color:#464646;
    margin: 15px 0 20px;
    line-height: 1.2;
    letter-spacing: .3px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.services ul li ul li:nth-child(2){
    font-weight: 700;
    margin-top: 3rem;
}
.services ul li ul li span{
    font-weight: 600;
}
@media only screen and (max-width: 767px) {
    /* Styles pour les téléphones */
    
    .services ul li{
        flex-direction: column;
        width: 100%;

    }
    
}